<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add product</title>
</head>

<body>
<div class="container">
    <h1>Management</h1>
    <hr>
    <h2>Save Product</h2>

    <form action="#" th:action="@{/products/save}" th:object="${product}"
          method="POST">
        <input type="text" th:field="*{name}" placeholder="Product name"
               class="form-control mb-4 col-4">
        <input type="text" th:field="*{price}" placeholder="Product price"
               class="form-control mb-4 col-4">


        <button type="submit" class="btn btn-info col-2">Save
            Product</button>
    </form>

    <hr>

    <a th:href="@{/products}"> Back to Tutorials List</a>
</div>

</body>
</html>